
.aboutZ {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(234, 249,251,0.63) 0.1%, rgba(239,249,251,0.63) 90.1%);
}
}

#header{
    margin:500px;
    padding-bottom:20px;
}
.table {
    
    position: relative;
    height: 300px;
    width: 300px;
}
.table img {
        position: absolute;
        right: 0;
        bottom: 0;
}


.para {
    text-align: center;
    padding-top:50px;
}
ul {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
}
.copyright {
    text-align: center;
}
.helloMsg {
    padding-top:5%;
    text-align: center;
}
.space{
    padding:2.5%;
}



