@{
    ViewBag.Title = "About";
}
<h2>About Us.</h2>


<p> Welcome to our chatting applictation where you get to connect with your dear friends and family.
   Our team created this application driven by the importance of this conncetion. Therefore we were
   oblidged to give you and your loved ones the best quality chatting application. Our chatting 
   appliction is a realtime updating application using AJAX. So please enjoy yor time with us and 
   your loved ones. </p>
