@{
    ViewBag.Title = "About";
}




<div class="container">
    <div class="row">
        <section class="mb-4">
            <h1 id="header" class="h1-responsive font-weight-bold text-center my-5">About Us</h1>
            <div class="para">

                <p>
                    Welcome to our chatting applictation where you get to connect with your dear friends and family.<br />
                    Our team created this application driven by the importance of this conncetion..<br /> Therefore we were
                    oblidged to give you and your loved ones the best quality chatting application. .<br />Our chatting
                    appliction is a realtime updating application using AJAX..<br /> So please enjoy yor time with us and
                    your loved ones.
                </p>


            </div>

            <div class="table">
                <figure><img src="\Content\images\table.png" alt="sing up image"></figure>
            </div>
            <p class="copyright">&copy; 2022 Prowl Patrol.co</p>
        </section>


    </div>
</div>












