@{
    ViewBag.Title = "Contact";
}
<section>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        El-Khalifa El-Maamoun<br />
        Cairo Governorate<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />

    </address>
</section>