@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title.</h2>


<p>Watch the video for help.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/yDf8g3oo-Bk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>